.BrandCarousel__item {
  margin: .5em 3em;
  display: flex;
  align-items: center;

  &:hover img {
    filter: grayscale(0)
  }

  img {
    filter: grayscale(1);
  }

}

.glider-contain {
  width: 80%;
  margin: 0 auto;
}

.glider-prev,
.glider-next {
  top: 0;
}