@import "../Global.scss";

footer {
  background: #f4f9fe;
  font-family: $font-middle;
}

.Footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0;

  &__img {
    box-sizing: border-box;

    img {
      width: 80%;
    }

  }

  &__social {
    ul {
      display: flex;
      font-weight: bold;
      text-transform: uppercase;

      li {
        margin: 0 1em;
      }
    }
  }

  ul li {
    list-style: none;
  }

  &__copyright {
    background: #000;
    text-align: center;

    p {
      margin: 0;
      padding: .8em;
      color: white;
    }
  }
}