.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 2em;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.Navbar__items ul {
  display: flex;
}

.Navbar__items ul li {
  padding: .5em 0em;
  position: relative;
  margin: 0 2em;
  list-style: none;
}

.Navbar__items ul li a {
  height: inherit;
  color: white;
  text-decoration: none;

  &:hover {
    color: #548FA9;

    &:after {
      position: absolute;
      width: 100%;
    }
  }

  &:after {

    content: "";
    position: absolute;
    height: 2px;
    background-color: #548FA9;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
}



.logo-MAD {
  cursor: pointer;
  transition: .8s;
}

.logo-MAD:hover svg path {


  animation: bounce 1.5s ease;

  &:nth-child(1) {
    fill: #548FA9;
  }

  &:nth-child(2) {
    fill: #536E90;
  }

  &:nth-child(3) {
    fill: #3F516B;
  }
}

.logo-MAD svg path {
  // stroke: white;

  &:nth-child(1) {
    stroke-dasharray: 147;
    stroke-dashoffset: 147;
    animation: fullline 5s infinite ease alternate;
  }

  &:nth-child(2) {
    stroke-dasharray: 162;
    stroke-dashoffset: 162;
    animation: fullline 5s infinite ease alternate;
  }

  &:nth-child(3) {
    stroke-dasharray: 168;
    stroke-dashoffset: 168;
    animation: fullline 5s infinite ease alternate;
  }
}

@keyframes fullline {

  100% {
    stroke-dashoffset: 0;
  }
}

.left-90 {
  transform: rotate(-90deg);
  transform-origin: top right;
  position: fixed;
  right: 99%;
  top: 4%;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;
  transition: opacity .5s ease;
}

.faded {
  animation-name: fadeMenu;
  animation-duration: 1s;

}

.right-90 {
  display: block;
  transition: opacity 1s ease;
  opacity: 1;
  transform: rotate(90deg);
  transform-origin: top left;
  position: fixed;
  left: 100%;
  width: 100vh;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  z-index: 10;

  ul li a {
    color: #333;
  }

}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(-5px);
  }
}

@keyframes fadeMenu {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}